---
import Card from "../components/Card.astro"
import Layout from "./Layout.astro"
import "../../global.css"
import Header from "../components/Header.astro"

const recipes = Object.values(
	import.meta.glob("./recipes/*.md", { eager: true }),
)
---

<Layout title="Recipe Book">
	<main>
		<Header />
		<section class="mt-10 p-5 md:mx-10">
			<h2 class="text-lg font-bold">Recetas</h2>
			<div class="gallery mt-3">
				{
					recipes.map((recipe: any) => (
						<Card
							key={recipe.frontmatter.id}
							img={recipe.frontmatter.picture}
							name={recipe.frontmatter.title}
							href={`recipes/${recipe.frontmatter.id}`}
							cookingTime={recipe.frontmatter.cookingTime}
						/>
					))
				}
			</div>
		</section>
	</main>
</Layout>
