---
import "../../global.css"
import Clock from "../icons/clock.astro"
interface props {
    img: string,
    name: string,
    cookingTime: number,
    href: string,
}

const {img, name, cookingTime, href} = Astro.props
---
<article class="hover:scale-105 transition-all duration-500 featured md:max-w-80">
    <a href={href}>
        <header>
            <img src={img} alt={name} class="rounded-lg w-full h-[163px]" transition:name="dish-photo" />
        </header>
        <div class="p-2">
            <h4 class="text-xl">{name}</h4>
            <div class="flex">
                <div class="flex gap-2">
                    <Clock />
                    <span>{cookingTime} min</span>
                </div>
            </div>
        </div>
    </a>
</article>