---
import "../../global.css"
import Clock from "../icons/clock.astro"
interface Props {
	key: string
	img: string
	name: string
	cookingTime: number
	href: string
}

const { key, img, name, cookingTime, href } = Astro.props
---

<article
	class="featured transition-all duration-500 hover:scale-105 md:max-w-80"
>
	<a href={href}>
		<header class="relative">
			<div
				class="absolute left-1 top-1 z-50 rounded-xl bg-[rgba(69,55,55,.6)] px-2 py-1"
			>
				<div class="flex">
					<div class="flex gap-2 align-middle text-bgPrimary">
						<Clock />
						<span>{cookingTime}'</span>
					</div>
				</div>
			</div>
			<img
				src={img}
				alt={name}
				class="w-full rounded-lg"
				transition:name={`recipe ${key} image`}
			/>
		</header>
		<div class="p-2">
			<h4 class="text-xl" transition:name={`recipe ${key} title`}>
				{name}
			</h4>
		</div>
	</a>
</article>
