---
import "../../global.css"
import Clock from "../icons/clock.astro"
import Badge from "./badge.astro"
interface Props {
	key: string
	img: string
	name: string
	cookingTime: number
	href: string
}

const { key, img, name, cookingTime, href } = Astro.props
---

<article
	class="featured transition-all duration-500 hover:scale-105 md:max-w-80"
>
	<a href={href}>
		<header class="relative">
			<Badge>
				<Clock />
				<span>{cookingTime}'</span>
			</Badge>
		</header>
		<img
			src={img}
			alt={name}
			class="w-full rounded-lg"
			transition:name={`recipe ${key} image`}
		/>
	</a>
	<div class="p-2">
		<h4 class="text-lg font-semibold" transition:name={`recipe ${key} title`}>
			{name}
		</h4>
	</div>
</article>
