---
import type { IngredientGroup } from "../type"
import { AddToCartButton } from "./addToCartButton"

interface Props {
	recipeId: string
	ingredients: IngredientGroup[]
}
const { recipeId, ingredients } = Astro.props
---

<section
	class="m-4 mt-8 h-min rounded-lg bg-bgSecondary p-5 pt-2 drop-shadow-[0_8px_8px_rgba(0,0,0,0.09)]"
>
	<h3 class="bold text-xl uppercase opacity-85">ingredientes</h3>
	<AddToCartButton client:load ingredients={ingredients} recipeId={recipeId} />
	{
		ingredients.map((elem) => (
			<div class="py-3">
				{elem.title && <h5 class="text-lg font-medium">{elem.title}</h5>}
				<ul class="m-3 grid list-disc gap-2 pl-8">
					{elem.ingredients.map((ingredient) => (
						<li>
							{ingredient[1]
								? `${ingredient[1]} x ${ingredient[0]}`
								: ingredient[0]}
						</li>
					))}
				</ul>
			</div>
		))
	}
</section>
