---
import type { IngredientGroup, stepsGroup } from '../type'

interface Props {
    title: string,
    description: string,
    ingredients: IngredientGroup[],
    steps: stepsGroup[],
    cookingTime: number,
    picture: string,
}

const {title, description,ingredients, steps, cookingTime, picture} = Astro.props
---

<div class=" md:w-[640px] md:mt-10 mb-20">
    <header>
        <div class="flex justify-center">
            <img src={picture} alt={title} width="100%" height="300px" class="md:rounded-lg"/>
        </div>
        <div class="grid gap-4 p-6">
            <h2 class="text-center text-5xl text-[#3b1a18]">{title}</h2>
            <p>{description}</p>
        </div>
        <div class="flex px-6">
            <div class="flex gap-1 items-end">
                <img src="/clock.svg" height="20" width="20" alt="tiempo de preparación"/>
                <span>{cookingTime} min</span>
            </div>
        </div>
    </header>
    <section class="p-5 mt-8 bg-[#eee29d] drop-shadow-[0_8px_8px_rgba(0,0,0,0.09)] rounded-lg  h-min m-4">
        <h3 class="text-xl topacity-85 bold uppercase">ingredientes</h3>
        {
            ingredients.map((elem) => (
                    <div>
                         {elem.title && <h5>{elem.title}</h5>}
                         <ul class="list-disc pl-8 grid gap-2 m-3">
                             {
                                 elem.ingredients.map(ingredient => (
                                     <li>{ingredient}</li>
                                 ))
                             }
                         </ul>
                    </div>
            ))
        }
    </section> 
    
    <section class="p-5  h-min">
        <h3 class="text-xl topacity-85 bold uppercase">Pasos:</h3>
        <slot name="steps" />
        {
            steps.map((elem) => (
                    <div>
                         {elem.title && <h5>{elem.title}</h5>}
                         <ol class="list-decimal pl-8 grid gap-3 mt-3">
                             {
                                 elem.steps.map(step => (
                                     <li>{step}</li>
                                 ))
                             }
                         </ul>
                    </div>
            ))
        }
    </section>          
</>
