---
import IngredientsList from "../components/ingredientsList.astro"
import RecipeHeader from "../components/recipeHeader.astro"
import Video from "../components/video.astro"
import Clock from "../icons/clock.astro"
import Layout from "../pages/Layout.astro"

const { frontmatter } = Astro.props
const { id, picture, cookingTime, title, description, ingredients, videoId } =
	frontmatter
---

<Layout title={title}>
	<RecipeHeader />
	<main class="flex justify-center">
		<div class="mb-20 md:mt-10 md:w-[640px]">
			<section>
				<div class="flex justify-center">
					<img
						src={picture}
						alt={title}
						width="100%"
						class="h-[200px] md:rounded-lg"
						transition:name={`recipe ${id} image`}
					/>
				</div>
				<div class="grid gap-4 p-6">
					<h2
						class="text-balance text-center text-5xl text-primary"
						transition:name={`recipe ${id} title`}
					>
						{title}
					</h2>
					<p>{description}</p>
				</div>
				<div class="flex px-6">
					<div class="flex items-end gap-1">
						<Clock />
						<span>{cookingTime} min</span>
					</div>
				</div>
			</section>
			<IngredientsList ingredients={ingredients} recipeId={id} />
			<section class="markdown-content h-min p-5">
				<slot />
			</section>
			{
				videoId && (
					<section class="mt-10">
						<Video videoId={videoId} title={title} />
					</section>
				)
			}
		</div>
	</main>
</Layout>
<style is:inline>
	.markdown-content h2 {
		text-transform: uppercase;
		opacity: 0.85;
		font-size: 1.25rem;
		line-height: 1.75rem;
		margin-bottom: 0.25rem;
	}

	.markdown-content p {
		font-size: 1.1rem;
		line-height: 1.6;
	}

	.markdown-content ul,
	.markdown-content ol {
		padding-left: 2rem;
		margin-top: 0.75rem;
		list-style-type: decimal;
		display: grid;
		gap: 0.75rem;
	}

	.markdown-content li {
		margin-bottom: 0.5rem;
	}
</style>
